.footer {
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.socials {
  justify-content: center;
  display: flex;
  display: inline;
  text-decoration: none;
  font-size: 30px;
  margin: 10px;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.impressum {
  text-align: center;
  color: white;
  text-decoration: underline;
}

.text-footer {
  color:white;
  padding-bottom: 20px;
}

.icon {
  color: white;
}
